.bar {
  margin-bottom: 38px;
}
.noUi-tooltip {
    display: none;
}
.noUi-active .noUi-tooltip {
    display: block;
}
.noUi-connect {
    background: #063453;
}
.noUi-horizontal {
  height: 3px;
  background: #F2F4F5;
}
.noUi-horizontal .noUi-handle {
  width: 25px;
  height: 25px;
  top: -12px;
  border-radius: 50%;
  border: none;
  background: url("../img/svg/range.svg") no-repeat;
}
.noUi-handle::before,
.noUi-handle::after{
  display: none;
}
.noUi-target {
  border: none;
  box-shadow: none;
}
