.container {
  width: 85%;
  max-width: 1622px;
  margin: 0 auto;
  padding: 0 55px;
}

.registration-btn,
.login-btn {
  position: relative;
}

.login-btn::before {
  content: '';
  display: block;
  position: absolute;
  top: calc(50% - 11px);
  left: 30px;
  width: 20px;
  height: 20px;
  background: url(../../../img/svg/login.svg) no-repeat;
}

.registration-btn::before {
  content: '';
  display: block;
  position: absolute;
  top: calc(50% - 11px);
  left: 30px;
  width: 20px;
  height: 20px;
  background: url(../../../img/svg/user.svg) no-repeat;
}

@media (max-width: 995px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }
}
