@font-face {
  font-family: "Cuprum-Regular";
  src: url("../fonts/Cuprum-Regular.woff2"),
       url("../fonts/Cuprum-Regular.woff");

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum-Bold";
  src: url("../fonts/Cuprum-Bold.woff2"),
       url("../fonts/Cuprum-Bold.woff");

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Khula-Extra-Bold";
  src: url("../fonts/Khula-ExtraBold.ttf");

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Khula-Bold";
  src: url("../fonts/Khula-Bold.woff2"),
       url("../fonts/Khula-Bold.woff"),
       url("../fonts/Khula-Bold.ttf");

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Khula-Regular";
  src: url("../fonts/Khula-Regular.woff2"),
       url("../fonts/Khula-Regular.woff"),
       url("../fonts/Khula-Regular.ttf");

  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  outline: none;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

a {
  outline: none;
}

ul {
  margin: 0;
}

body {
  font-family: "Cuprum-Regular", "Arial", sans-serif;
  font-size: 16px;
  font-weight: normal;
  min-width: 320px;
  padding: 0;
  margin: 0;
}

h1,h2,h3,h4,h5 {
  font-family: "Khula-Bold", "Arial", sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="submit"] {
  margin-bottom: 25px;
  background: #F2F4F5;
  border-radius: 8px;
  padding: 20px;
  border: none;
}

input[type="submit"] {
  background: #063453;
  color: #fff;
  transition: all .3s ease;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
  color: #77CCF9;
  transition: all .3s ease;
}

input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  background: #DFE5EC;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  padding-left: 40px;
  position: relative;
}

input[type="checkbox"] + label::before {
  content: '';
  width: 17px;
  height: 17px;
  background: url("../img/svg/check-off.svg");
  position: absolute;
  left: 0;
  top: 2px;
}

input[type="checkbox"]:checked + label::before {
  background: url("../img/svg/check-on.svg");
}

.faq__see-all,
.new-ads__see-all {
  display: block;
  width: 355px;
  padding: 20px 0;
  text-align: center;
  font-size: 18px;
  line-height: 30px;
  color: #7B8A99;
  background: #DCE8F1;
  border-radius: 8px;
  position: sticky;
  left: 0;
  transition: all .3s ease;
}

@media (max-width: 780px) {
  section .section-title {
    font-size: 29px;
    text-align: center;
  }
}

@media (max-width: 549px) {
  section .section-title  {
    padding: 0;
  }
}

@media (max-width: 476px) {
  section .section-title {
    font-size: 20px;
  }
}
