.legalization-documents__list {
  padding: 0;
  list-style: none;
  width: 57%;
  margin: auto;
}

.legalization-documents__list p {
  margin: 0;
}

.legalization-documents {
  min-height: 575px;
  background: #F2F4F5;
}

.legalization-documents__item {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 117px;
  background-color: #FFFFFF;
  box-shadow: 0 0 24px rgba(6, 52, 83, .1);
  margin-bottom: 12px;
  position: relative;
  overflow: hidden;
  transition: all .3s ease;
}

.legalization-documents__item::after {
  content: '';
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  background: url("../img/svg/legalization-circle.svg") no-repeat;
  width: 17%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  color: #FFFFFF;
  font-family: "Cuprum-Bold", "Arial", sans-serif;
  font-size: 60px;
  line-height: 60px;
  max-height: 270px;
  transition: all .3s ease;
}

.legalization-documents__item:first-child::after {
  content: '01';
}

.legalization-documents__item:nth-child(2)::after {
  content: '02';
}

.legalization-documents__item:nth-child(3)::after {
  content: '03';
}

.legalization-documents__item.open-accordion::after {
  justify-content: flex-end;
  align-items: center;
  top: calc(50% - 65px);
  transition: all .3s ease;
}


.legalization-documents__item .legalization-accordion {
  padding: 50px 170px 50px 50px;
  width: 82%;

  background-color: transparent;
  color: #444;
  cursor: pointer;
  border: 0;
  text-align: left;
  outline: 0;
  transition: .4s;
  position: relative;
  font-size: 20px;
  line-height: 30px;
}

.legalization-accordion::after {
  content: '';
  position: absolute;
  right: 0;
  top: calc(50% - 13px);
  display: block;
  width: 15px;
  height: 15px;
  background: url(../img/svg/plus.svg) no-repeat center;
}

.legalization-accordion.active::after {
  background: url(../img/svg/minus.svg) no-repeat center;
}

.legalization-documents .container {
  min-height: 575px;
  padding: 100px 0;
}

.legalization-documents__item span {
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: #063453;
}

.legalization-documents__item:first-child::before {
  content: 'NEW';
  display: block;
  color: #DFE5EC;
  font-size: 26px;
  line-height: 30px;
  font-family: "Cuprum-Bold", "Arial", sans-serif;
  position: absolute;
  left: 50px;
  top: 10px;
}

.legalization-documents__second-level {
  width: 82%;
  margin-left: 25px;
}

.legalization-documents__second-level > p {
  padding-left: 40px;
}

.legalization-documents__doc-list {
  list-style: none;
  border-top: 1px solid #f2f4f5;
}

.legalization-documents__doc-list li {
  min-height: 90px;
  font-size: 20px;
  line-height: 30px;
  text-transform: capitalize;
  color: #063453;
  display: flex;
  align-items: center;
}

.legalization-documents__link {
  display: flex;
  align-items: center;
  padding: 35px 40px 35px 25px;
  width: 100%;
  min-height: 90px;
  cursor: pointer;
  color: #063453;
  transition: all .3s ease;
  position: relative;
}

.legalization-documents__link:hover {
  background-color: #DFE5EC;
  transition: all .3s ease;
}

.legalization-documents__second-level-block {
  display: flex;
  flex-direction: column;
}

.legalization-documents__second-level-list {
  width: 95%;
  margin-left: auto;
}

.legalization-documents__second-level-item {
  position: relative;
  width: 100%;
  padding: 35px 40px 35px 25px;
  display: flex;
  flex-direction: column;

}

.consular-city,
.legalization-documents__second-level-item {
  color: #063453 !important;
}

.legalization-documents__second-level-item::after {
  content: '';
  width: 23px;
  height: 10px;
  background: url(../img/svg/arrow.svg) no-repeat !important;
  position: absolute;
  right: 15px;
  top: calc(50% - 10px);
  cursor: pointer;
  z-index: 2;
  transform: rotate(-90deg);
}

.legalization-documents__second-level-block .legalization-documents__second-level-item.accordion {
  width: 100%;
}

.legalization-documents__second-level-list {
  padding: 0 0 0 20px;
}

.legalization-documents__second-level-item .accordion::after {
  display: none;
}

.legalization-documents__item .accordion.consular-city {
  padding: 50px 0 50px 50px;
}

.consular-city-wrap {
  display: flex;
  flex-direction: column;
}

.legalization-documents__consular-doc-list {
  width: 95%;
  margin-left: auto;
}

@media (max-width: 1080px) {
  .legalization-documents__list {
    width: 70%;
  }
}

@media (max-width: 995px) {
  .legalization-documents__list {
    width: 100%;
  }

  .legalization-documents .container {
    padding: 100px 15px;
  }

  .legalization-documents__item::after {
    font-size: 35px;
    width: 15%;
  }
}

@media (max-width: 690px) {
  .legalization-documents__item::after {
    display: none;
  }

  .legalization-documents__item .accordion {
    width: 100%;
    padding: 40px 35px 40px 20px;
  }

  .legalization-documents__item .accordion::after {
    right: 20px;
  }

  .legalization-documents__second-level {
    width: 95%;
  }

  .legalization__desc {
    font-size: 14px;
    line-height: 22px;
  }

  .legalization-documents__item:first-child::before {
    left: 20px;
  }

  .legalization-documents__item span,
  .legalization-documents__link {
    font-size: 16px !important;
    line-height: 20px;
  }

  .legalization-documents__link {
    padding: 20px 40px 20px 25px;
  }

  .legalization-documents__item .accordion.consular-city {
    padding: 40px 0 40px 0px;
  }

  .legalization-documents__consular-doc-list {
    width: 100%;
    padding: 0;
  }

  .legalization-documents__second-level-block .legalization-documents__second-level-item.accordion {
    padding: 40px 35px 40px 0;
  }

  .legalization-documents__second-level-list {
    padding: 0;
  }

  .legalization-documents__item .legalization-accordion {
    width: 100%;
    padding: 40px 35px 40px 20px;
  }

  .legalization-accordion::after {
    right: 20px;
    top: calc(50% - 7px);
  }
}


@media (max-width: 320px) {
  .legalization__desc,
  .legalization-documents .container {
    padding: 25px 0 25px;
  }

  .legalization-documents,
  .legalization-documents .container {
    min-height: auto;
  }
}
