.notice-greetings {
  background: #E5E9EE;
  position: relative;
  height: 514px;
  margin-bottom: 196px;
}

.notice-greetings.greetings__container--onload {
  background: url(../img/svg/notice-greetings.svg) no-repeat center , #E5E9EE;
  background-size: 100%;
}

.notice-greetings::after {
  content: '';
  width: 100%;
  height: 85px;
  display: block;
  background: #fff;
}

.notice-greetings .head__info--center {
  right: 3%;
}

.notice-greetings .head__info--left {
  top: 25%;
  right: 20%;
}

.notice-greetings .head__info--bottom {
    right: 35%;
    top: 61%;
}

.notice-board-greetings-bg img {
  width: auto;
  bottom: 70px;
  height: 85%;
  left: auto;
  right: 5%;
  position: absolute;
}

.notice-new-ads-wrap .new-ads__title {
  font-family: "Khula-Regular", "Arial", sans-serif;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 40px;
}

@media (max-width: 750px) {
  .notice-new-ads-wrap .new-ads__active-list {
    flex-wrap: nowrap;
    width: 3050px;
  }
}

@media (max-width: 600px) {
  .notice-new-ads-wrap .new-ads__active-list {
    flex-wrap: nowrap;
    width: 2065px;
  }
}
