.notice-board-greetings-bg img {
  width: auto;
  bottom: 70px;
  height: 85%;
  left: auto;
  right: 5%;
  position: absolute;
}

.notice-new-ads-wrap .new-ads__title {
  font-family: "Khula-Regular", "Arial", sans-serif;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 40px;
}

@media (max-width: 750px) {
  .notice-new-ads-wrap .new-ads__active-list {
    flex-wrap: nowrap;
    width: 3050px;
  }
}

@media (max-width: 600px) {
  .notice-new-ads-wrap .new-ads__active-list {
    flex-wrap: nowrap;
    width: 2065px;
  }
}
