.notice-greetings {
  background: #E5E9EE;
  position: relative;
  height: 514px;
  margin-bottom: 196px;
}

.notice-greetings.greetings__container--onload {
  background: url(../img/svg/notice-greetings.svg) no-repeat center, #E5E9EE;
  background-size: 100%;
}

.notice-greetings::after {
  content: '';
  width: 100%;
  height: 85px;
  display: block;
  background: #fff;
}

.notice-greetings .head__info--center {
  right: 3%;
}

.notice-greetings .head__info--left {
  top: 25%;
  right: 30%;
}

.notice-greetings .head__info--bottom {
  right: 35%;
  top: 61%;
}

.greetings-background-wrap.notice-board-greetings-bg {
  height: 514px;
  bottom: 0;
}

.notice-board-greetings-bg img {
  width: auto;
  bottom: -150px;
  height: 130%;
  left: auto;
  right: 5%;
  position: absolute;
}

.notice-new-ads-wrap .new-ads__title {
  font-family: "Khula-Regular", "Arial", sans-serif;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 30px;
}

.notice-greetings .container {
  align-self: flex-start;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  height: 100%;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.notice-greetings .vacancy__header--ttl h1:before {
  background: #7B8A99;
}

.notice-title {
  font-family: "Khula-Regular", "Arial", sans-serif;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 49px;
  line-height: 70px;
  color: #3d3d3d;
}

.categories-list {
  list-style: none;
  display: flex;
  position: relative;
  flex-wrap: wrap;
}

.categories-btn,
.categories-link-btn {
  background: transparent;
  border: none;
  outline: none;
  width: 100%;
  height: 175px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.categories-icon-wrap {
  position: relative;
  width: 130px;
  min-height: 130px;
  background: url('../img/svg/notice-category-circle.svg') no-repeat top;
  display: flex;
  align-items: center;
  justify-content: center;
}

.categories-icon-wrap .services__link-icon {
  transition: all .3s ease;
}

.categories-underlist {
  list-style: none;
  height: 215px;
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #DFDFDF;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-top: 15px;
  flex-direction: column;
}

.categories-underlist-item {
  height: 45px;
  display: flex;
  align-items: center;
  width: 25%;
  margin-top: 12px;
}

.categories-underlist-link {
  font-family: 'Cuprum-Regular', Arial, sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #063453;
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  position: relative;
  padding-left: 20px;
}

.categories-underlist-link::before {
  content: '';
  display: block;
  width: 24px;
  height: 10px;
  transform: rotate(-90deg);
  background: url("../img/svg/select-arrow.svg") no-repeat;
  position: absolute;
  left: -5px;
  top: 7px;
}

.categories-underlist-text {
  font-family: 'Cuprum-Regular', Arial, sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #7B8A99;
  margin-left: 5px;
  text-transform: uppercase;
}

.categories-underlist-wrap {
  border-top: 1px solid #DFDFDF;
  border-bottom: 1px solid #DFDFDF;
  margin-top: 70px;
  padding-top: 50px;
  position: absolute;
  left: 0;
  width: 100%;
}

.categories-underlist-main-link {
  height: 60px;
  margin-left: 20px;
}

.categories-underlist-main-link::before {
  top: 8px;
}

.categories-item {
  margin-top: 60px;
  width: 11%;
  min-width: 120px;
}

.categories-item.active-category {
  height: 560px;
}

.categories__link-icon {
  transition: all .3s ease;
}

.categories-btn:hover .categories__link-icon,
.categories-link-btn:hover .categories__link-icon {
  transform: scale(1.11);
  transition: all .3s ease;
}

.marriage-wrap {
  height: 85px;
}

.notice-categories {
  padding-top: 0;
  padding-bottom: 100px;
}

.categories-item.marriage-item.active-category {
  height: 440px;
}

.categories-item.firm-item.active-category {
  height: 735px;
}

.firm-item .categories-underlist {
  height: 385px;
}

.child-item .categories-underlist,
.music-item .categories-underlist {
  height: 155px;
}

.categories-item.child-item.active-category {
  height: 500px;
}

.categories-item.sport-item.active-category {
  height: 620px;
}

.sport-item .categories-underlist {
  height: 270px;
}

.categories-item.music-item.active-category {
  height: 500px;
}

@media (max-width: 1718px) {
  .categories-item {
    width: 12.5%;
  }
}

@media (max-width: 1541px) {
  .categories-item {
    width: 14.2%;
  }
}

@media (max-width: 1364px) {
  .categories-item {
    width: 16.6%;
  }
}

@media (max-width: 1188px) {
  .categories-item {
    width: 20%;
  }
}

@media (max-width: 1011px) {
  .categories-item {
    width: 25%;
  }

  .categories-underlist-item {
    width: 33%;
  }

  .car-item .categories-underlist,
  .style-item .categories-underlist,
  .animal-item .categories-underlist {
    height: 270px;
  }

  .child-item .categories-underlist,
  .music-item .categories-underlist {
    height: 215px;
  }

  .categories-item.child-item.active-category,
  .categories-item.prop-item.active-category,
  .categories-item.electronic-item.active-category,
  .categories-item.aggricult-item.active-category,
  .categories-item.music-item.active-category {
    height: 560px;
  }

  .categories-item.active-category {
    height: 610px;
  }

  .sport-item .categories-underlist {
    height: 335px;
  }

  .categories-item.sport-item.active-category {
    height: 680px;
  }

  .firm-item .categories-underlist {
    height: 505px;
  }

  .categories-item.firm-item.active-category {
    height: 860px;
  }
}

@media (max-width: 995px) {
  .empty-category {
    display: none;
  }

  .active-category .categories__link-icon,
  .active-category .services__title {
    opacity: 0.5;
  }
}

@media (max-width: 768px) {
  .notice-greetings {
    height: 500px;
    margin-bottom: 85px;
  }

  .notice-greetings::after {
    display: none;
  }

  .notice-board-greetings-bg img {
    height: 125%;
    right: 0%;
  }
}

@media (max-width: 750px) {
  .notice-new-ads-wrap .new-ads__active-list {
    flex-wrap: nowrap;
    width: 3050px;
  }
}

@media (max-width: 600px) {
  .notice-new-ads-wrap .new-ads__active-list {
    flex-wrap: nowrap;
    width: 2065px;
  }

  .new-ads__active-list {
    margin-bottom: 25px;
  }

  .notice-board-greetings-bg img {
    right: -35%;
  }
}

@media (max-width: 549px) {
  .categories-item {
    width: 33.33%;
    min-width: auto;
  }

  .categories-icon-wrap {
    height: 80px;
    width: 100%;
    min-height: 80px;
    background-size: contain;
  }

  .categories__link-icon {
    width: 46px;
  }

  .categories-underlist-item {
    width: 100%;
  }

  .car-item .categories-underlist,
  .style-item .categories-underlist {
    height: 595px;
  }

  .categories-item.active-category {
    height: 866px;
  }

  .categories-item {
    margin-top: 35px
  }

  .categories-btn, .categories-link-btn {
    height: 120px;
  }

  .categories-underlist-wrap {
    margin-top: 35px;
    padding-top: 5px;
  }

  .prop-item .categories-underlist,
  .electronic-item .categories-underlist,
  .aggricult-item .categories-underlist {
    height: 535px;
  }

  .categories-item.prop-item.active-category,
  .categories-item.electronic-item.active-category {
    height: 807px;
  }

  .categories-item.aggricult-item.active-category {
    height: 807px;
  }

  .animal-item .categories-underlist {
    height: 595px;
  }

  .child-item .categories-underlist,
  .music-item .categories-underlist {
    height: 415px;
  }

  .categories-item.child-item.active-category,
  .categories-item.music-item.active-category {
    height: 696px;
  }

  .sport-item .categories-underlist {
    height: 880px;
  }

  .categories-item.sport-item.active-category {
    height: 1151px;
  }

  .firm-item .categories-underlist {
    height: 1336px;
  }

  .categories-item.firm-item.active-category {
    height: 1608px;
  }

  .marriage-wrap {
    height: 196px;
  }

  .categories-item.marriage-item.active-category {
    height: 468px;
  }

  .notice-title {
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    padding-bottom: 25px;
    position: relative;
  }

  .notice-title::after {
    content: '';
    height: 3px;
    width: 85px;
    display: block;
    position: absolute;
    background: #add9f3;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .notice-new-ads-wrap .new-ads__title.section-title {
    line-height: 20px;
  }

  .notice-new-ads-wrap .new-ads__ads-wrap {
    padding-top: 40px;
  }

  .categories-underlist {
    padding-bottom: 0;
  }

  .categories-underlist-main-link {
    margin-left: 0;
    padding: 30px 0 30px 20px;
    height: auto;
  }

  .categories-underlist-main-link::before {
    top: 35px;
  }

  .categories-underlist {
    padding-left: 0;
  }

}

@media (max-width: 320px) {
  .notice-board-greetings-bg img {
    height: 115%;
    top: 15px;
    right: -70%;
  }

  .notice-greetings.greetings__container--onload {
    background: url(../img/svg/notice-greetings.svg) no-repeat -575px -25px,#e5e9ee;
    background-size: 250%;
  }

}
