.sign-wrap {
  max-width: 766px;
  width: 45%;
  background-color: #FFFFFF;
  position: relative;
  margin: 11% auto;
  border-radius: 1px;
}

.sign-wrap__list {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  border-radius: 1px 1px;
  overflow: hidden;
}

.sign-wrap__item {
  width: 50%;
  border-radius: 1px;
}

.sign-wrap__item button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F2F4F5;
}

button.sign-wrap__active-btn {
  background: #fff;
}

.sign-wrap__item button {
  width: 100%;
  height: 115px;
  border: none;
}

.sign-wrap__btn-text {
  text-transform: uppercase;
  font-family: "Cuprum-Bold", "Arial", sans-serif;
  font-size: 18px;
}

.sign-wrap__btn {
  font-family: "Cuprum-Bold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  position: absolute;
  height: 35px;
  width: 110px;
  top: 37px;
  right: -110px;
  transform: rotate(-90deg);
  border: none;
  background: url("../img/svg/close.svg") no-repeat right;
  text-align: left;
  padding: 0;
  display: flex;
  align-items: flex-end;
  color: #063453;
}

.sign-overlay {
  opacity: 0;
  transition: all .3s ease;
}

.sign-overlay--open {
  opacity: 1;
  transition: all .3s ease;
}

.sign-wrap__btn-text {
  color: #063453;
}

.sign-wrap__login-btn .login-btn,
.sign-wrap__reg-btn .registration-btn {
  transition: all .3s ease;
}

.sign-wrap__login-btn:hover .login-btn,
.sign-wrap__login-btn:focus .login-btn,
.sign-wrap__reg-btn:hover .registration-btn,
.sign-wrap__reg-btn:focus .registration-btn {
  color: #063453;
  transition: all .3s ease;
}

.header-nav__link.login-btn.sign-in-active-btn {
  color: #77ccf9;
  transition: all .3s ease;
}

.header-nav__link.registration-btn.sign-in-active-btn-registration {
  color: #77ccf9;
  border: 2px solid #77ccf9;
}

@media (max-width: 995px) {
  .sign-wrap {
    width: 90%;
    min-height: 100vh;
    margin: 90px auto 0;
  }

  .sign-in-active-btn {
    color: #063453;
  }

  .sign-wrap__btn {
    right: calc(50% - 45px);
    top: -30px;
    transform: none;
    height: 23px;
    width: 90px;
    font-size: 16px;
    line-height: 18px;
    background-size: contain;
  }

  .sign-wrap .message-icon-mobile,
  .sign-wrap .registration-btn--icon-mobile,
  .sign-wrap .login-btn--icon {
    margin-right: 15px;
  }

}

@media (max-width: 690px) {

  .sign-wrap__reg-btn,
  .sign-wrap__login-btn {
    display: flex;
    flex-direction: column;
  }

  .sign-wrap__btn-text {
    font-size: 16px;
    padding-top: 10px;
  }

  .sign-wrap__item button {
    height: 75px;
  }

  .sign-wrap .login-btn--icon, .sign-wrap .registration-btn--icon-mobile {
    margin-right: 0;
  }
}
