.about-us {
  padding-top: 65px;
  padding-bottom: 82px;
  background: #fff;
}

.about-us__wrapper {
  display: flex;
  position: relative;
  padding-top: 55px;
}

.about-us__desc-block {
  width: 100%;
}

.about-us__wrapper {
  background: url('../../../img/png/about-us-background.png') no-repeat right;
}

.about-us__wrapper::after {
  content: '';
  display: block;
  width: 143px;
  height: 143px;
  position: absolute;
  right: 360px;
  top: 245px;
  background: url('../../../img/png/about-us-circle-text.png') no-repeat center;

  animation-duration: 10s;
  animation-name: move;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes move {
  from {
    transform: rotate(-360deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.about-us__title {
  margin: 0;
  font-size: 49px;
  line-height: 70px;
  color: #3D3D3D;
  text-align: center;
  padding-bottom: 45px;
  position: relative;
  margin-bottom: 80px;
}

.about-us__title::after {
  content: '';
  display: block;
  height: 3px;
  width: 86px;
  position: absolute;
  bottom: 0;
  left: calc(50% - 43px);
  background-color: #ADD9F3;
}

.about-us__desc {
  width: 45%;
  font-size: 20px;
  line-height: 30px;
}

.about-us__bottom-text {
  width: 60%;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #7B8A99;
}

@media (max-width: 1600px) {
  .about-us__desc {
    width: 100%;
  }

  .about-us__add-desc {
    width: calc(100% - 685px);
  }

  .about-us__wrapper {
    background: url(../../../img/png/about-us-background.png) no-repeat right 195px;
  }

  .about-us__wrapper::after {
    top: 400px;
  }


  .about-us__bottom-text {
    margin-top: 235px;
    width: calc(100% - 425px);
  }
}

@media (max-width: 1200px) {
  .about-us__bottom-text {
    width: 100%;
    margin-top: 90px;
  }

  .about-us__add-desc {
    margin-top: 330px;
    width: calc(100% - 495px);
  }

  .about-us__wrapper {
    background: url(../../../img/png/about-us-background.png) no-repeat right 230px;
  }
}

@media (max-width: 800px) {

  .about-us__wrapper {
    background: url('../../../img/png/about-us-background.png') no-repeat right 50%;
    background-size: contain;
  }

  .about-us__wrapper::after {
    top: 470px;
    right: 50%;
  }

  .about-us__add-desc {
    display: none;
  }

  .about-us__bottom-text {
    margin-top: 560px;
  }
}
