.about-us {
  padding-top: 65px;
  padding-bottom: 82px;
  background: #fff;
}

.about-us__wrapper {
  padding-top: 55px;

  background: url('../../../img/png/about-us-circle-text.png') no-repeat 1045px 85%,
  url('../../../img/png/about-us-background.png') no-repeat 890px bottom;

}

.about-us__title {
  margin: 0;
  font-size: 49px;
  line-height: 70px;
  color: #3D3D3D;
  text-align: center;
  padding-bottom: 45px;
  position: relative;
  margin-bottom: 80px;
}

.about-us__title::after {
  content: '';
  display: block;
  height: 3px;
  width: 86px;
  position: absolute;
  bottom: 0;
  left: calc(50% - 43px);
  background-color: #ADD9F3;
}

.about-us__desc {
  max-width: 738px;
  font-size: 20px;
  line-height: 30px;
}

.about-us__bottom-text {
  max-width: 995px;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #7B8A99;
}
