.greetings__container {
  display: flex;
  align-items: center;
  min-height: 500px;
  transition: all 1s ease;
  position: relative;
  overflow: hidden;

  background: url("../img/svg/ok.svg") no-repeat 85% 1000px,
              url("../img/svg/Ellipse.svg") no-repeat center -1000px;

  background-size: 50%;
}

.greetings__container--onload {
  background: url("../img/svg/ok.svg") no-repeat 85%,
              url("../img/svg/Ellipse.svg") no-repeat center top;
  background-size: 50%;

}

.greetings__title {
  font-family: "Khula-Extra-Bold", "Arial", sans-serif;
  margin: 0 auto;
  width: 60%;
  max-width: 535px;
  font-size: 60px;
  line-height: 78px;
  color: #063453;
  position: relative;
  z-index: 2;
}

@media (max-width: 1505px) {
  .greetings__container--onload {
    min-height: 400px;
  }
}

@media (max-width: 1250px) {
  .greetings__container--onload {
    background-size: 60%;
  }

  .greetings__title {
    width: 65%;
  }
}

@media (max-width: 955px) {
  .greetings__container--onload {
    min-height: 350px;
    background: url("../img/svg/ok.svg") no-repeat 75%,
                url("../img/svg/Ellipse.svg") no-repeat top center;
    background-size: 60%;
  }

  .greetings__title {
    font-size: 45px;
    width: 70%;
  }
}

@media (max-width: 875px) {
  .greetings__container--onload {
    min-height: 250px;
    background: url("../img/svg/ok.svg") no-repeat 75%,
                url("../img/svg/Ellipse.svg") no-repeat top center;
    background-size: 50%;
  }

  .greetings__title {
    font-size: 35px;
    line-height: 55px;
  }
}

@media (max-width: 750px) {
  .greetings__container--onload {
    min-height: 200px;
    background: url('../img/svg/ok.svg') no-repeat 65%,
                url('../img/svg/Ellipse.svg') no-repeat top center;
    background-size: 50%;
  }

  .greetings__title {
    width: 60%;
  }
}

@media (max-width: 750px) {
  .greetings__title {
    width: 73%;
  }
}

@media (max-width: 505px) {
  .greetings__title {
    font-size: 18px;
    line-height: 28px;
    width: 48%;
  }

  .greetings__container--onload {
    min-height: 157px;
  }
}

@media (max-width: 400px) {
  .greetings__container--onload {
    background: url('../img/svg/Mobileok.svg') no-repeat 65%,
    url('../img/svg/Mobilellipse.svg') no-repeat top center;
    background-size: 60%;
  }
}

