.greetings__container {
  min-height: 500px;
  padding-top: 195px;
  transition: all 1s ease;
  position: relative;
  overflow: hidden;
}

.greetings__ellipse {
  position: absolute;
  top: 0;
  left: 10%;
  width: 75%;
}

.greetings__ok {
  position: absolute;
  bottom: 0;
  top: calc(50% - 250px);
  right: 60px;
  width: 65%;
  max-height: 100%;
  z-index: 1;

}

.greetings__title {
  font-family: "Gilroy-Bold";
  margin: 0 auto;
  width: 535px;
  font-size: 60px;
  line-height: 78px;
  color: #063453;
  position: relative;
  z-index: 2;
}

@media (max-width: 1050px) {
  .greetings__ok {
    bottom: 10%;
  }
}

@media (max-width: 995px) {
  .greetings__ok {
    top: calc(50% - 190px);
    width: 55%;
  }
}

@media (max-width: 420px) {
  .greetings__title {
    font-size: 18px;
    line-height: 28px;
  }
}

