.header-nav {
  margin-left: 60px;
}

.header-nav__list {
  display: flex;
  list-style: none;
  text-transform: uppercase;
  color: #fff;
  padding: 0;
}

.header-nav__item:first-child {
  display: none;
}

.header-nav__link {
  display: flex;
  align-items: center;
  position: relative;
  height: 58px;
  padding: 20px 35px 20px 65px;
  border-radius: 8px;
  cursor: pointer;
  transition: all .3s ease;
}

.header-nav__link::before {
  content: '';
  display: block;
  position: absolute;
  left: 30px;
  width: 20px;
  height: 20px;
}

.main-btn::before {
  background: url("../../../img/svg/home.svg") no-repeat;
}

.login-btn::before {
  background: url("../../../img/svg/login.svg") no-repeat;
}

.registration-btn::before {
  background: url("../../../img/svg/user.svg") no-repeat;
}

.registration-btn {
  border: 2px solid #FFFFFF;
}

@media (max-width: 995px) {

  .header-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-left: 0;
    background: #fff;
    text-transform: capitalize;
    z-index: 5;
    box-shadow: 0px 0px 24px rgba(6, 52, 83, 0.1);
  }

  .header-nav__list {
    justify-content: space-between;
  }

  .header-nav__item:first-child {
    display: block;
  }

  .header-nav__item {
    font-size: 16px;
    line-height: 18px;
    color: #063453;
    width: 33.33%;
  }

  .header-nav__item--active {
    font-family: "Gilroy-Bold";
  }

  .header-nav__link {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    padding: 10px 0 5px;
  }

  .header-nav__link::before {
    top: 10px;
    width: 16px;
    height: 16px;
    left: calc(50% - 8px);
  }

  .login-btn::before {
    background: url("../../../img/svg/logintabl.svg") no-repeat;
  }

  .registration-btn::before {
    background: url("../../../img/svg/reg.svg") no-repeat;
  }

  .tablet-container {
    width: 85%;
    margin: auto;
  }
}
