.services {
  display: flex;
  padding-top: 80px;
  padding-bottom: 65px;
  background: #FFFFFF;
}

.services__description {
  width: 30%;
}

.services__main-title {
  margin: 0;
  font-size: 49px;
  line-height: 70px;
  color: #3D3D3D;
}

.services__description-text {
  position: relative;
  font-size: 20px;
  line-height: 30px;
  color: #464646;
  text-transform: uppercase;
  padding-bottom: 45px;
}

.services__description-text::after {
  content: '';
  display: block;
  width: 35%;
  height: 3px;
  background: #ADD9F3;
  position: absolute;
  bottom: 0;
}

.services__add-text {
  font-size: 20px;
  line-height: 30px;
  color: #7B8A99;
}

.services__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  width: 70%;
  list-style: none;
}

.services__item {
  display: block;
  width: 155px;
  height: 175px;
}

.services__link {
  display: block;
  height: 100%;
  padding-top: 130px;
  position: relative;
}

.services__link::before {
  content: '';
  display: block;
  width: 130px;
  height: 130px;
  position: absolute;
  top: 0;
  left: calc(50% - 65px);
}

.services__link--work::before {
  background: url("../../../img/svg/work.svg") no-repeat;
}

.services__link--property::before {
  background: url("../../../img/svg/property.svg") no-repeat;
}

.services__link--legalization::before {
  background: url("../../../img/svg/legalization.svg") no-repeat;
}

.services__link--ads::before {
  background: url("../../../img/svg/ads.svg") no-repeat;
}

.services__link--finance::before {
  background: url("../../../img/svg/finance.svg") no-repeat;
}

.services__link--insurance::before {
  background: url("../../../img/svg/insurance.svg") no-repeat;
}

.services__link--transport::before {
  background: url("../../../img/svg/transport.svg") no-repeat;
}

.services__link--law::before {
  background: url("../../../img/svg/law.svg") no-repeat;
}

.services__link--business::before {
  background: url("../../../img/svg/business.svg") no-repeat;
}

.services__link--blog::before {
  background: url("../../../img/svg/blog.svg") no-repeat;
}

.services__link--rest::before {
  background: url("../../../img/svg/rest.svg") no-repeat;
}

.services__link--forum::before {
  background: url("../../../img/svg/forum.svg") no-repeat;
}

.services__title {
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #063453;
}

@media (max-width: 1692px) {
  .services__list {
    justify-content: space-evenly;
  }
}

@media (max-width: 995px) {
  .services {
    flex-direction: column;
  }

  .services__main-title {
    text-align: center;
    position: relative;
    width: max-content;
    border-bottom: 3px solid #ADD9F3;
    padding-bottom: 20px;
    margin: auto;
  }

  .services__description,
  .services__list {
    width: 100%;
  }

  .services__description-text,
  .services__add-text {
    display: none;
  }

  .services__list {
    margin-top: 65px;
  }

  .services__item {
    margin-top: 15px;
  }
}

@media (max-width: 690px) {
  font-size: 29px;
}

@media (max-width: 549px) {

  .services__item {
    height: 125px;
    width: 33.33%;
  }

  .services__link {
    padding-top: 80px;
  }

  .services__link::before {
    width: 80px;
    height: 80px;
    background-size: contain;
    top: 0;
    left: calc(50% - 40px);
  }

  .services__title {
    font-size: 10px;
  }
}
